{% load static %}
<style>

    .links-container {

        background-color: #fff;
        margin: 0px 20px 10px 20px;
    }
    
    .link-button {
        display: inline-block;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: #000;
        outline: none;
        width: 100%;
        text-transform:uppercase
    }
    
    .link-button:hover {
          background-color: black;
          color: #fff;
      }


</style>

<div class="links-container"  style="padding: 0px 0px 0px 0px;">
    
    <a class="link-button" href="/stock_control/agregar-marca">Agregar marca</a>

    <a class="link-button" href="/stock_control/agregar-provedor">Agregar provedor</a>

    <a class="link-button" href="/stock_control/agregar-categoria">Agregar Categoria</a>

    <a class="link-button" href="/stock_control/agregar-subcategoria">Agregar Subcategoria</a>

    <a class="link-button" href="/stock_control/agregar-cliente">Agregar Cliente</a>

    <a class="link-button" href="/stock_control/agregar-producto">Agregar Producto</a>


</div>
